body {
    font-family: Arial, sans-seriff;
    margin: 0;
    padding: 0;
    background-color: #001f3f;
    background-image: url('assets/213_generated.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header{
    
    margin-left: 40px;
    padding: 50px 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 100;
    margin: 0;
}

h2 {
    margin-left: 40px;
    font-weight: 400;
}

p {
    margin-left: 40px;
}